<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="integration">
      <directory>tests/Integration/</directory>
    </testsuite>
    <testsuite name="unit">
      <directory>tests/Unit/</directory>
    </testsuite>
    <testsuite name="templates">
      <directory>docs/contributing/templates/php/tests/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src/</directory>
      <directory>docs/contributing/templates/php/src/</directory>
    </include>
  </source>
</phpunit>
